@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<a href="javascript:alert(1);">123</a>

<a href='javascript:ppmethod.wftpay("{\"pay_type\":\"pay.alipay.native.towap\", \"token_id\":\"{0}\"}");' class='gogame'>充值遇到问题1</a>
<script>
    function pay() {
        
    }
</script>
<p>Use this area to provide additional information.</p>
